@{
    ViewBag.Title = "About";
}


<style>

    h3 {
        padding: 70px;
        padding-left: 50px;
        padding-top: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 230%;

    }

    .hellosize {
        width: 10%;
        height: 10%;
    }

    .selfpic {
        padding-left: 5px;
        padding-top: 5px;
    }
</style>



<img src="https://i.ibb.co/qNLBxgH/mypic.png" alt="mypic" class="selfpic" style="float: left;" width="350" height="400">
<img src="https://i.ibb.co/cgFzbTs/hellopanda.gif" alt="hellopanda" style="float: right;" width="350" height="400">



    <h3 style="text-align: center;">
        Hi, I'm Aaron Chris P. Deloso.
        I’m 20 years old. Living in Pulung Cacutud Angeles City, Pampanga.
        I’m currently a 3rd year student in Angeles University Foundation with the course of BSIT.
        My hobbies are playing games and watching movies and TV series.
    </h3>




