@{
    ViewBag.Title = "Home Page";
}

<style>

         .img-col {
        justify-content: flex-end;
        margin-top: 30px;

    }
        h1{
            padding-top: 125px;
        }
</style>

    <div class="container">
        <div class="row">
            <div class="col img-col">
                <img src="https://i.ibb.co/yqBSsDG/bg.png" alt="bg" style="float: right;">
            </div>
            <div class="col">
                <h1 style="color:darkgreen">
                    Welcome to My <br> Webpage!
                </h1>
                <p>By: Aaron Chris P. Deloso</p>
            </div>

        </div>
    </div>

