@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #2196F3;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    img {
        width: 50%;
        height: auto;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }


    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1><center>My K-POP Idols</center></h1>


<div class="grid-container">
    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/pwF3CHn/205607998-116511293990267-2488685066996939358-n.jpg" alt="1" border="0">
        </a>
        <div class="desc">Jeongyeon</div>
    </div>

    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/N9532dS/131640270-583524903080928-2806059754832315831-n.jpg" alt="2" border="0">
        </a>
        <div class="desc">Jeongyeon</div>
    </div>
    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/wCFVvxM/203884971-264037602186695-7146880009421638681-n.jpg" alt="3" border="0">
        </a>
        <div class="desc">Jeongyeon</div>
    </div>
    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/yRcNC5K/201464805-331959205157637-707952566847161280-n.jpg" alt="4" border="0">
        </a>
        <div class="desc">Ryujin</div>
    </div>

    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/F5PwWrq/203622425-258570446026277-8920964400521767235-n.jpg" alt="5" border="0">
        </a>
        <div class="desc">Ryujin</div>
    </div>
    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/7gWvhGP/198600603-109735398011282-2095117006552011730-n.jpg" alt="6" border="0">
        </a>
        <div class="desc">Ryujin</div>
    </div>
    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/W6Xk6tG/218083557-1422960904753490-5325095552311358548-n.jpg" alt="7" border="0">
        </a>
        <div class="desc">IU</div>
    </div>
    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/P1mzvf9/217535011-1426418477741066-8195191611121666504-n.jpg" alt="8" border="0">
        </a>
        <div class="desc">IU</div>
    </div>
    <div class="grid-item">
        <a>
            <img src="https://i.ibb.co/NSyh1SW/217392437-1425917051124542-3247920097677121472-n.jpg" alt="ii" border="0">
        </a>
        <div class="desc">IU</div>
    </div>
</div>

